# Introdução python

### Imprimir algo no terminal

In [7]:
#palavras
print("Welcome")

#números
print( 360 )

#variáveis
budget = 200
print(budget)

username = "magician"
points = 50
lives = 3
print(username)
print(points)

#quando tiver duas viaveis iguais ele só ira printar a ultima como se fosse uma atualização
points = 35
points = 45
print(points)

Welcome
360
200
magician
50
45

### Variáveis

In [3]:
#variable name: item
#variable value: bike

item = "bike"

#outro exemplo

book = "The Hobbit"
pages = 310

### Operações

In [4]:
print (7 + 3)

print (7 - 3)

print (7 * 3)

print (7 / 3)


budget = 20
print(budget + 10)


price = 5
amount = 3
print(price * amount)

score = 7 + 8
print(score)

10
4
21
2.3333333333333335

### Treinamento

In [8]:
name = "Tom"
level = 14
print(name)
level = level + 1
print(level)

Tom
15

In [9]:
band = "Beatles"
song = "Yesterday"
song = "Let it be"
print(song)

Let it be